#FRONTEND
.DS_Store
node_modules
frontend/build
frontend/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#BACKEND
backend/Billy-BE/obj
backend/Billy-BE/bin
